In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\corym\OneDrive\Documents\Github\Amazon_Vine_Analysis\vine_table.csv')

In [22]:
df_20 = df.loc[df["total_votes"]>20]

In [5]:
df_20["% Helpful"] = (df_20["helpful_votes"]/df_20["total_votes"])*100

<ipython-input-5-226e577fa87f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20["% Helpful"] = (df_20["helpful_votes"]/df_20["total_votes"])*100

In [7]:
df_helpful = df_20.loc[df_20["% Helpful"]> 50]

In [20]:
vine_Y_df = df_helpful.loc[df_helpful["vine"]== "Y"]
vine_Y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,% Helpful
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N,100.000000
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N,92.857143
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N,96.341463
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N,86.486486
295268,R22XZEQLVLWW49,5.0,28.0,33.0,Y,N,84.848485
...,...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N,95.000000
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N,57.142857
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N,97.777778
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N,93.877551
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N,96.610169

In [21]:
vine_N_df = df_helpful.loc[df_helpful["vine"]== "N"]
vine_N_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,% Helpful
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,86.206897
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,100.000000
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,93.548387
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,96.296296
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,95.238095
...,...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N,96.460177
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N,97.142857
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N,98.802395
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N,93.750000
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N,90.322581

In [11]:
star_rating_N_df = vine_N_df.groupby("star_rating").count().reset_index()

In [12]:
star_rating_N_df["Percentage of Votes"] = (star_rating_N_df["total_votes"]/star_rating_N_df['total_votes'].sum())*100

In [14]:
star_rating_Y_df = vine_Y_df.groupby("star_rating").count().reset_index()

In [15]:
star_rating_Y_df["Percentage of Votes"] = (star_rating_Y_df["total_votes"]/star_rating_Y_df['total_votes'].sum())*100

In [17]:
star_rating_Y_df.loc['Total']= star_rating_Y_df.sum()
star_rating_Y_df

,star_rating,review_id,helpful_votes,total_votes,vine,verified_purchase,% Helpful,Percentage of Votes
0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.941748
1,3.0,16.0,16.0,16.0,16.0,16.0,16.0,15.533981
2,4.0,30.0,30.0,30.0,30.0,30.0,30.0,29.126214
3,5.0,55.0,55.0,55.0,55.0,55.0,55.0,53.398058
Total,14.0,103.0,103.0,103.0,103.0,103.0,103.0,100.000000

In [19]:
star_rating_N_df.loc['Total']= star_rating_N_df.sum()
star_rating_N_df

,star_rating,review_id,helpful_votes,total_votes,vine,verified_purchase,% Helpful,Percentage of Votes
0,1.0,4927.0,4927.0,4927.0,4927.0,4927.0,4927.0,13.183667
1,2.0,2262.0,2262.0,2262.0,2262.0,2262.0,2262.0,6.052660
2,3.0,3522.0,3522.0,3522.0,3522.0,3522.0,3522.0,9.424168
3,4.0,6938.0,6938.0,6938.0,6938.0,6938.0,6938.0,18.564701
4,5.0,19723.0,19723.0,19723.0,19723.0,19723.0,19723.0,52.774805
Total,15.0,37372.0,37372.0,37372.0,37372.0,37372.0,37372.0,100.000000